#allitems{
    width: 100%;
    display: flex;
}
#allitems-left{
    width: 30%;
    height: 100%;
}
#allitems-left>img{
    width: 100px;
    height: 60px;
    margin-left: 80px;
}
#allitems-left>h1{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    padding-left: 90px;
}
#allitems-left>h4{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    padding-left: 90px;
}
#allitems-left>h5{
    font-family: sans-serif;
    padding-left: 90px;
    color: gray;
}
#allitems-left>h5:hover{
    text-decoration: underline;
}
#allitems-right{
    width: 70%;
    height: 100%;
}
#allitems-right>h1{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#allitems-grid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
#allitems-grid>div{
    width: 100%;
    height: 350px;
    margin-bottom: 50px;
    background-color: whitesmoke;
}
#allitems-grid>div>img{
    width: 100%;
}
#allitems-grid>div>img:hover{
    width: 110%;
    transition: 2s;
}
#allitems-grid>div>p{
    line-height: 7px;
    padding-left: 20px;
    padding-right: 20px;
    color: gray;
    font-family: sans-serif;
    font-size: 14px;
}